@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Jost&family=Roboto&family=Outfit&family=Open+Sans&family=Poppins&display=swap');
$wine: #722f37;
$gold: #c9ad0b;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #fff;
    color: #111;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    font-family: 'Jost';
}

h2,
h6 {
    font-family: "Poppins";
    font-weight: 600;
}

h4,
h5 {
    font-family: 'Jost';
    font-weight: 600;
}

p {
    font-family: 'DM Sans';
    font-size: 1rem;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Jost';
}

input,
textarea {
    background: none;
    border: none;
    outline: none;
}

button {
    background: none;
    border: none;
    text-transform: capitalize;
    font-family: 'Jost';
    padding: .6rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

section {
    width: 85%;
    margin: 0 auto;
}

nav {
    z-index: 100;
    .active {
        color: $gold;
    }
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
    }
    ul {
        gap: 1rem;
    }
    a {
        text-transform: uppercase;
        font-size: 1.25rem;
    }
}

.logo {
    z-index: 100;
}

.mobile {
    display: none;
}

.main-home {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(https://source.unsplash.com/MChSQHxGZrQ);
}

.home {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 90vh;
    padding: 2rem 0;
    h2 {
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 500;
    }
    p {
        width: 80%;
        margin: 0 auto;
        line-height: 1.5rem;
    }
    h6 {
        text-transform: capitalize;
        font-size: 1.5rem;
    }
    button {
        margin-top: 1rem;
    }
    .home-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.headline {
    font-size: 2rem;
    text-transform: capitalize;
    margin: 0.8rem 0;
    font-weight: 500;
}

.tag {
    background: $wine;
    color: $gold;
    text-transform: uppercase;
}

.fourgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.button {
    background: $gold;
    color: #fff;
    padding: 8px 1.2rem;
    border-radius: 5px;
}

.btn {
    border: 1px solid $wine;
    color: $wine;
    margin-top: 1rem;
    border-radius: 5px;
}

.aboutus {
    margin: 1rem 0;
    padding: 2rem 0;
}

.offer {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    text-align: center;
    .offers-cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin: 2rem 0;
        .box {
            transition: all 0.4s ease;
            border-radius: 5px;
            border: 1px solid $wine;
            padding: 1.5rem 1rem;
            svg {
                color: $wine;
                font-size: 1.4rem;
            }
            h6 {
                font-size: 1.15rem;
                text-transform: uppercase;
                margin: 8px 0;
                font-weight: 550;
            }
            p {
                font-size: 1rem;
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}

.news {
    padding: 2rem 0;
    .headline {
        text-align: center;
    }
    .news-cont {
        width: 90%;
        height: 100%;
        margin: 2rem auto;
    }
}

.blog-card {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 40% 60%;
    place-items: center;
    gap: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    .image {
        position: relative;
        .border {
            position: absolute;
            bottom: 1rem;
            width: 180px;
            height: 100%;
            border: 1px solid $wine;
            z-index: -1;
        }
        img {
            width: 90%;
            padding-left: 2rem;
            border-radius: 5px;
            object-fit: cover;
        }
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h4,
        h6 {
            text-transform: capitalize;
        }
        p {
            font-size: 0.9rem;
        }
        .pro {
            margin-top: 16px;
        }
    }
}

.swiper {
    margin-top: 1rem;
    width: 100%;
    height: 270px;
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    .swiper-pagination-bullet-active {
        background: $gold;
    }
}

.teamswiper {
    height: 300px;
    .swiperslide {
        width: auto;
    }
}

footer {
    color: #fff;
    background: #0e0b01;
    .footer {
        padding: 4rem 0 0;
        .footer-container {
            display: flex;
            justify-content: space-between;
            gap: 3rem;
        }
        .footer-desc {
            p {
                margin-top: 10px;
                width: 85%;
            }
            .social {
                margin-top: 1rem;
                ul {
                    display: flex;
                    gap: 1rem;
                    flex-direction: row;
                }
                li {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    color: $gold;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    border: 1px solid $gold;
                    &:hover {
                        transition: all 0.3s ease;
                        transform: scale(0.9);
                        color: $wine;
                        background: $gold;
                    }
                }
            }
        }
        .footer-links {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin: 10px 0;
            ul {
                flex-direction: column;
                gap: 0.4rem;
                text-transform: capitalize;
            }
            h6 {
                text-transform: uppercase;
                margin: 10px 0;
                font-size: 1rem;
                font-weight: 500;
            }
            span {
                text-transform: lowercase;
            }
            .foot-mail {
                li {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    svg {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

.copy {
    width: 100%;
    color: #111;
    background: $gold;
    text-transform: capitalize;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 3rem;
    padding: 1rem;
    font-weight: 800;
}

///scrollup
.fixed {
    position: fixed;
}

.scrollup {
    width: 2.75rem;
    height: 2.75rem;
    right: 1rem;
    bottom: 1.5rem;
    background-color: $gold;
    color: $wine;
    border: 1px solid $wine;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease;
    z-index: 100;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(0.8);
    }
}

/////about//////////////////////
/// 
.about-page {
    .about-home {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://source.unsplash.com/Oalh2MojUuk);
    }
    h2 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.4rem;
        text-transform: capitalize;
    }
    .who {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        padding: 2rem 0;
    }
    .about-story {
        margin: 2rem 0;
    }
    .about-vision {
        padding: 3rem 0;
        background: $gold;
        color: #fff;
        display: flex;
        justify-content: center;
        text-align: center;
        .grid {
            margin-top: 2rem;
        }
        .item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            p {
                width: 85%;
                margin: 0 auto;
            }
        }
        svg {
            font-size: 2rem;
        }
    }
    .about-grid {
        padding: 2rem 0;
        width: 100%;
        button {
            margin-top: 2rem;
        }
        .header {
            margin-bottom: 2rem;
            h4,
            p {
                text-align: center;
            }
        }
        .item {
            border: 1px solid $wine;
            padding: 1.5rem 1rem;
            svg {
                color: $wine;
            }
            h4 {
                text-transform: capitalize;
                font-size: 1.5rem;
                margin: 8px 0;
            }
        }
    }
}

.team {
    margin: 2rem 0;
    .headline {
        text-align: center;
    }
    .team-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .item {
        background: #fff;
        border-radius: 5px;
        width: 250px;
        border: 1px solid $wine;
        .text {
            padding: 10px;
        }
        h4 {
            font-size: 1.3rem;
            text-transform: capitalize;
        }
        h6 {
            margin-top: 10px;
            text-transform: uppercase;
        }
        img {
            border-radius: 5px 5px 0 0;
        }
    }
}

/////Service//////////////////////
.service-page {
    .service-home {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://source.unsplash.com/JaoVGh5aJ3E);
    }
    img {
        object-fit: cover;
    }
    .service-container {
        padding: 2rem 0;
    }
    .article {
        margin-top: 3rem;
    }
    .courses-cont {
        .wrap {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
        }
        .item {
            width: 250px;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                transform: scale(0.9);
                transition: all 0.3s ease;
            }
            img {
                border-radius: 10px 10px 0 0;
            }
            .text {
                padding: 10px;
            }
            .flex {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-top: 1rem;
            }
        }
    }
}

/////Template//////////////////////
.template {
    height: 100vh;
}

/////Contact//////////////////////
.contact-page {
    background: #f9f9f9;
    .grid {
        place-items: center;
    }
    .contact-home {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://source.unsplash.com/sggw4-qDD54);
    }
    p {
        margin: 10px 0;
    }
    .form-container {
        color: $wine;
        padding: 1rem;
        border-radius: 10px;
        margin: 2rem 0;
        .headline {
            margin: 0;
        }
        .btn {
            background: $wine;
            color: $gold
        }
        .form-input {
            margin: 1rem;
            input,
            textarea {
                width: 90%;
                border: 1px solid $wine;
                background: #fff;
                padding: 1rem;
                margin-top: 5px;
                &::placeholder {
                    color: $wine;
                    text-transform: capitalize;
                }
            }
        }
    }
    .location {
        display: flex;
        align-items: center;
        gap: 1rem;
        svg {
            font-size: 1.25rem;
        }
        h6 {
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
}

/////blog//////////////////////
@media screen and (max-width: 800px) {
    section {
        width: 90%;
    }
    p {
        font-size: 0.8rem;
    }
    nav {
        ul {
            display: none;
        }
        .menulsit {
            ul {
                display: none;
            }
        }
        .show {
            background-color: #fff;
            flex-direction: column;
            gap: 1rem;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100vw;
            transform: translateY(0%);
            z-index: 10;
            touch-action: none;
            transition: all 0.3s ease;
            .menu-btn {
                position: relative;
                left: 80%;
                top: 0;
            }
            ul {
                display: flex;
                flex-direction: column;
                padding: 5rem 1rem 1rem;
                a {
                    margin-bottom: 1rem;
                    font-size: 1.35rem;
                    color: $gold;
                }
            }
        }
    }
    .mobile {
        display: flex;
        z-index: 100;
        svg {
            font-size: 1.3rem;
        }
    }
    .home {
        h2 {
            font-size: 2.25rem;
            width: 90%;
        }
        h6 {
            font-size: 0.7rem;
        }
    }
    .fourgrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid {
        grid-template-columns: 100%;
    }
    .blog-card {
        grid-template-columns: 100%;
    }
    footer {
        .footer {
            .footer-links {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    .headline {
        font-size: 1.75rem;
    }
}

.img-nav {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    img {
        border-radius: 50%;
    }
}

@media screen and (max-width: 500px) {
    p {
        font-size: 0.7rem;
    }
    section {
        width: 95%;
    }
    nav {
        header {
            padding: 10px 0;
        }
    }
    .home {
        height: 75vh;
        h2 {
            font-size: 1.5rem;
            width: 100%;
        }
        h6 {
            font-size: 0.85rem;
        }
        p {
            width: 100%;
            font-size: 0.8rem;
            line-height: 1rem;
        }
    }
    .swiper {
        height: 400px;
    }
    .teamswiper {
        height: 300px;
    }
    .fourgrid {
        grid-template-columns: 100%;
    }
    .headline {
        font-size: 1.5rem;
    }
    .about-page {
        .about-vision {
            .item {
                p {
                    width: 100%;
                }
            }
        }
    }
    .offer {
        .offers-cont {
            grid-template-columns: 100%;
            .box {
                p {
                    width: 100%;
                }
            }
        }
    }
    footer {
        .footer {
            .footer-container {
                flex-direction: column;
            }
            .footer-links {
                grid-template-columns: repeat(1, 1fr);
                gap: 2rem;
            }
        }
    }
    .copy {
        font-size: 0.5rem;
    }
}