@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Jost&family=Roboto&family=Outfit&family=Open+Sans&family=Poppins&display=swap');
$wine: #722f37;
$gold: #c9ad0b;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: $gold;
    color: $wine;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    font-family: 'Jost';
}

h2,
h6 {
    font-family: "Poppins";
}

h4 {
    font-family: 'Jost';
}

p {
    font-family: 'DM Sans';
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Jost';
}

input,
textarea {
    background: none;
    border: none;
    outline: none;
}

button {
    background: none;
    border: none;
    text-transform: capitalize;
    font-family: 'Jost';
    padding: .6rem 1rem;
    cursor: pointer;
}

section {
    width: 85%;
    margin: 0 auto;
}

nav {
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
    }
    ul {
        gap: 1rem;
    }
    a {
        text-transform: uppercase;
        font-size: 1.25rem;
    }
}

.mobile {
    display: none;
}

.home {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(https://source.unsplash.com/376KN_ISplE);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 90vh;
    padding: 2rem 0;
    h2 {
        font-size: 3rem;
        text-transform: capitalize;
        width: 70%;
        font-weight: 500;
    }
    h6 {
        text-transform: uppercase;
        font-size: 1.1rem;
        margin: 0.2rem 0;
        font-weight: 600;
    }
    .home-text {
        height: 100%;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.headline {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
}

.btn {
    border: 1px solid $wine;
    color: $wine;
    margin-top: 1rem;
    border-radius: 5px;
}

.aboutus {
    margin: 1rem 0;
    padding: 2rem 0;
}

.offer {
    padding: 2rem 0;
    .offers-cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin: 1rem 0;
        .box {
            padding: 1rem;
            transition: all 0.4s ease;
            border-radius: 5px;
            border: 2px solid $wine;
            cursor: pointer;
            svg {
                font-size: 1.2rem;
            }
            h6 {
                font-size: 1.15rem;
                text-transform: uppercase;
                margin: 10px 0;
                font-weight: 550;
            }
            p {
                font-size: 1rem;
                width: 90%;
            }
            &:hover {
                background-color: rgba($color: $wine, $alpha: 0.5);
                color: $gold;
                .main-btn {
                    border: 1px solid $gold;
                    color: $gold;
                }
            }
        }
    }
}

.news {
    padding: 2rem 0;
}

.blog-card {
    width: 300px;
    height: 420px;
    border: 1px solid $wine;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(0.9);
        transition: all 0.3s ease;
    }
    img {
        border-radius: 5px 5px 0 0;
        height: 50%;
    }
    .text {
        padding: 4px 8px;
        h4 {
            text-transform: capitalize;
            margin-bottom: 8px;
        }
        p {
            font-size: 0.9rem;
        }
        .flex {
            font-size: 0.7rem;
            margin-bottom: 8px;
        }
    }
}

.swiper {
    margin-top: 1rem;
    width: 100%;
    height: 470px;
    .swiperslide {
        width: auto;
    }
    .swiper-pagination-bullet-active {
        background: $wine;
    }
}

footer {
    color: $gold;
    background: $wine;
    .footer {
        padding: 3rem 0 1rem;
        .footer-links {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin: 10px 0;
            ul {
                flex-direction: column;
                gap: 0.4rem;
                text-transform: capitalize;
            }
            h6 {
                text-transform: uppercase;
                margin: 10px 0;
                font-size: 1rem;
                font-weight: 500;
            }
            span {
                text-transform: lowercase;
            }
            .foot-mail {
                li {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    svg {
                        font-size: 0.8rem;
                    }
                }
            }
            .social {
                ul {
                    display: flex;
                    gap: 1rem;
                    flex-direction: row;
                }
                li {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        transition: all 0.3s ease;
                        transform: scale(0.9);
                    }
                }
            }
        }
        .copy {
            text-transform: capitalize;
            text-align: center;
            font-size: 0.8rem;
            margin-top: 3rem;
        }
    }
}

.facebook {
    background-color: #043d9a;
}

.linkedin {
    background-color: #2e77a7;
}

.twitter {
    background-color: #1c6def;
}

.instagram {
    background-color: #d357aa;
}

///scrollup
.fixed {
    position: fixed;
}

.scrollup {
    width: 2.75rem;
    height: 2.75rem;
    right: 1rem;
    bottom: 1rem;
    background-color: $gold;
    color: $wine;
    border: 1px solid $wine;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(0.8);
    }
}

/////about//////////////////////
/// 
.about-page {
    margin-top: 3rem;
    h2 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.4rem;
    }
}

.team {
    .headline {
        text-align: center;
    }
    margin: 2rem 0;
    .team-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        text-align: center;
    }
    .item {
        background: #fff;
        border-radius: 10px;
        width: 270px;
        .text {
            padding: 10px;
        }
        h4 {
            font-size: 1.3rem;
            text-transform: capitalize;
        }
        h6 {
            text-transform: uppercase;
        }
        img {
            border-radius: 10px 10px 0 0;
        }
    }
}

/////Contact//////////////////////
.contact-page {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://source.unsplash.com/aK0EmfPuktA);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 2rem 0;
    .question {
        h4 {
            text-transform: capitalize;
            font-size: 1.4rem;
        }
        ul {
            flex-direction: column;
            font-size: 1.2rem;
            gap: 2rem;
            margin-top: 1rem;
        }
    }
    .form-container {
        background: #fff;
        color: $wine;
        padding: 1rem;
        border-radius: 10px;
        margin: 2rem 0;
        .headline {
            text-align: center;
            margin: 0;
        }
        p {
            text-align: center;
            font-size: 1rem;
        }
        .btn {
            background: $wine;
            color: $gold
        }
        .form-input {
            margin: 1rem;
            input,
            textarea {
                width: 90%;
                border: 1px solid $wine;
                padding: 1rem;
                border-radius: 15px;
                &::placeholder {
                    color: $wine;
                    text-transform: capitalize;
                }
            }
        }
    }
    .location {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 4rem 0 2rem;
        svg {
            font-size: 1.4rem;
        }
        h6 {
            font-size: 1.1rem;
            font-weight: 500;
        }
    }
}

.blob {
    width: 120px;
    height: 120px;
    border-radius: 58% 43% 33% 64% / 50% 38% 53% 50%;
    background: $wine;
    color: $gold;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(0.9);
        transition: all 0.3s ease;
    }
}

.trial {
    border-top: 1px solid $wine;
    border-bottom: 1px solid $wine;
}

.give-trial {
    margin: 4rem auto 2rem;
    p {
        font-size: 1.4rem;
    }
    .gold {
        font-weight: 800;
    }
}

/////blog//////////////////////
.blogs {
    margin-top: 3rem;
    .headline {
        margin: 0;
    }
    h6 {
        margin: 10px 0;
        font-size: 1rem;
    }
    .blog-cont {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 800px) {
    section {
        width: 90%;
    }
    nav {
        ul {
            display: none;
        }
        .menulsit {
            ul {
                display: none;
            }
        }
        .show {
            background-color: $gold;
            flex-direction: column;
            gap: 1rem;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100vw;
            transform: translateY(0%);
            z-index: 10;
            touch-action: none;
            transition: all 0.3s ease;
            .menu-btn {
                position: relative;
                left: 80%;
                top: 0;
            }
            ul {
                display: flex;
                flex-direction: column;
                padding: 2rem 2.5rem;
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .mobile {
        display: flex;
        z-index: 100;
        svg {
            font-size: 1.3rem;
        }
    }
    .home {
        h2 {
            font-size: 2.25rem;
            width: 90%;
        }
        h6 {
            font-size: 0.7rem;
        }
    }
    .grid {
        grid-template-columns: 100%;
    }
    .offer {
        .offers-cont {
            grid-template-columns: 100%;
        }
    }
    footer {
        .footer {
            .footer-links {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

.img-nav {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    img {
        border-radius: 50%;
    }
}

@media screen and (max-width: 500px) {
    section {
        width: 95%;
    }
    .home {
        h2 {
            font-size: 2rem;
            width: 100%;
        }
        h6 {
            font-size: 0.5rem;
        }
    }
    footer {
        .footer {
            .footer-links {
                grid-template-columns: repeat(1, 1fr);
                gap: 2rem;
            }
        }
    }
}